.modal {
  --modal-overlay-opacity: 0.7;
  --modal-content-distance-top: 40%; /* Odsazení obsahu od horní strany okna (top) */
  --modal-close-icon-size: 2.5rem;
  --modal-close-button-distance-right: var(
    --wrapper-padding
  ); /* Odsazení křížku od pravé strany okna (right) */
  --modal-transition-duration: var(--duration);

  & .modal__overlay {
    position: fixed;
    z-index: 200;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(228, 22%, 9%, 0);
    visibility: hidden;
    transition: background-color var(--modal-transition-duration) ease,
      visibility 0ms linear var(--modal-transition-duration);
  }

  & .modal__overlay--active {
    visibility: visible;
    background-color: hsla(228, 22%, 9%, var(--modal-overlay-opacity));
    transition: background-color var(--modal-transition-duration) ease;
  }

  & .modal__content {
    position: fixed;
    z-index: 201;
    top: var(--modal-content-distance-top);
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: var(--wrapper-padding);
    padding-right: var(--wrapper-padding);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    transition: opacity calc(var(--modal-transition-duration) / 2) ease,
      visibility 0ms linear calc(var(--modal-transition-duration) / 2);

    & > * {
      pointer-events: auto;
      box-shadow: 0 30px 40px rgba(0, 0, 0, 0.075);
    }
  }

  & .modal__content--active {
    visibility: visible;
    opacity: 1;
    transition: opacity calc(var(--modal-transition-duration) / 2) ease;
  }

  & .modal__close-button {
    position: fixed;
    z-index: 202;
    top: 2rem;
    right: var(--modal-close-button-distance-right);
    padding: 0.35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    visibility: hidden;
    opacity: 0;

    transition: opacity calc(var(--modal-transition-duration) / 2) ease,
      visibility 0ms linear calc(var(--modal-transition-duration) / 2);
  }

  & .modal__close-button--active {
    visibility: visible;
    opacity: 1;
    transition: opacity calc(var(--modal-transition-duration) / 2) ease;
  }

  & .modal__close-icon {
    font-size: var(--modal-close-icon-size);
  }
}
