.ui-switch {
  --switch-slider-color: white;
  --switch-on-bg: hsl(var(--form-accent-color));
  --switch-off-bg: var(--color-background-300);

  display: inline-flex;
  width: auto;
  height: auto;

  & input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;

    position: relative;
    z-index: 0;
    cursor: pointer;

    display: inline-flex;
    vertical-align: middle;

    width: 2.875rem;
    height: 1.625rem;

    background: hsl(var(--switch-off-bg));
    border-radius: 50px;

    transition: var(--transition-background), var(--transition-border),
      var(--transition-shadow);

    &:checked {
      background: var(--switch-on-bg);
    }

    &:before {
      position: absolute;
      inset: 0;
      content: "";
      width: 1.375rem;
      height: 1.375rem;
      background-color: var(--switch-slider-color);
      border-radius: 100%;
      transform-origin: center;
      transform: translate3d(0.125rem, 0.125rem, 0);
      transition: var(--transition-transform);
    }

    &:checked:before {
      transform: translate3d(1.375rem, 0.125rem, 0);
    }
  }

  /* Sizes */
  &[data-size="sm"] input[type="checkbox"] {
    transform: scale(0.85);
  }

  &[data-size="lg"] {
    padding: 0.24375rem 0.43125rem;

    & input[type="checkbox"] {
      transform: scale(1.15);
    }
  }

  /* Disabled */
  &[disabled] {
    opacity: 0.45;
    pointer-events: none;
    cursor: not-allowed;
  }
}
