/*
 * Barvy se musejí zadávat v hsl (hue, saturation %, lightness %) hodnotách a dále s nimi tak pracovat
 * Více o hsl: `https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/hsl()`
 * kvůli plné podpoře css proměnných a tailwind utilit 
 * -> viz: `https://github.com/adamwathan/tailwind-css-variable-text-opacity-demo` 
 * -> Stránka na převody a skládání barevných palet: `https://coolors.co/` */

:root {
  --color-primary: 350, 92%, 52%;
  --color-secondary: 218, 17%, 35%;

  --color-default: 218, 17%, 35%; /* gray 600 */
  --color-default-strong: 230, 21%, 11%; /* gray 900 */
  --color-invert: 211, 25%, 84%; /* gray 300 */

  --color-background: 0, 0%, 100%; /* White */
  --color-background-100: 204, 45%, 98%; /* gray 50 */
  --color-background-200: 210, 38%, 95%; /* gray 100 */
  --color-background-300: 214, 32%, 91%; /* gray 200 */

  /* ----------- */

  --color-success: 161, 94%, 30%;
  --color-error: 358, 72%, 56%;
  --color-info: 215, 85%, 47%;
  --color-warning: 45, 93%, 42%;

  --color-light: 204, 45%, 98%; /* gray 50 */
  --color-dark: 233, 17%, 9%; /* gray 950 */
}

.dark {
  --color-default: 211, 25%, 84%; /* gray 300 */
  --color-default-strong: 0, 0%, 100%; /* white */
  --color-invert: 218, 17%, 35%; /* gray 600 */

  --color-background: 230, 21%, 11%; /* gray 900 */
  --color-background-100: 223, 24%, 14%; /* gray 800 */
  --color-background-200: 218, 23%, 23%; /* gray 700 */
  --color-background-300: 218, 17%, 35%; /* gray 600 */

  --color-success: 158, 64%, 50%;
  --color-error: 358, 100%, 62%;
  --color-info: 218, 83%, 62%;
  --color-warning: 45, 83%, 53%;
}

/* GRAYS
* výchozí paleta odstínů šedé v hsl ->
* 0 (white) - 0, 0%, 100%
* 50 - 204, 45%, 98%
* 100 - 210, 38%, 95%
* 200 - 214, 32%, 91%
* 300 - 211, 25%, 84%
* 400 - 214, 20%, 69%
* 500 - 216, 15%, 52%
* 600 - 218, 17%, 35%
* 700 - 218, 23%, 23%
* 800 - 223, 24%, 14%
* 900 - 230, 21%, 11%
* 950 - 233, 17%, 9% 
* 1000 (black) - 0, 0%, 0%;

 * Default main colors
 * --color-primary: 350, 92%, 52%;
 * --color-secondary: 230, 50%, 42%;


  * -> Grays in variables
  --color-gray-50: 210, 40%, 98%;
  --color-gray-100: 210, 38%, 95%;
  --color-gray-200: 214, 32%, 91%;
  --color-gray-300: 211, 25%, 84%;
  --color-gray-400: 214, 20%, 69%;
  --color-gray-500: 216, 15%, 52%;
  --color-gray-600: 218, 17%, 35%;
  --color-gray-700: 218, 21%, 23%;
  --color-gray-800: 220, 22%, 14%;
  --color-gray-900: 230, 21%, 11%;
  --color-gray-950: 228, 22%, 9%;
*/
